program Project1;
{$APPTYPE CONSOLE}
uses
  SysUtils;
{ TODO -oUser -cConsole Main : Insert code here }
    var A: array [1..36,1..36] of integer;
n,i,j,k:integer;
begin
Readln (n);  k:=1;
for i := 1 to n do
for j := 1 to n do
begin a[i,j]:=k*k; k:=k+1; end;
   for i:=1 to n do begin
for j:=1 to n do if ((i+j) <= n+1) then Write(a[i,j],' ') else Write(' ');
for j:=1 to n do if ((i+j) >= n+1) then Write(a[i,j],' ') else Write(' ');
WriteLn;
end;
Readln;
end.
